.mat-toolbar {
    background-color: white;
    display: flex;
    justify-content: space-between;

    span {
        font-weight: 600;
    }
}

.panier {
    padding: 5px;
    margin: 20px;
}
