.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background: lightgray;
}

.example-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    overflow: hidden;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    mat-card-content {
        flex-grow: 1;
        display: flex;
        align-items: stretch;

        p {
            margin: 0;
            text-align: justify;
        }
    }

    mat-card-header {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: space-between;

            mat-card-title {
                font-size: 1.2rem;
                font-weight: bold;
                color: #212121;
            }

            mat-card-subtitle {
                font-size: 1rem;
                color: #757575;
            }
        }

        mat-card-subtitle {
            font-size: 0.9rem;
            color: #9e9e9e;
        }
    }
    img {
        width: 100%;
        height: 220px;
        object-fit: contain;
        margin: 10px 0;
    }

    mat-card-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
    }
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .circle-icon {
        cursor: pointer;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 8px;
        margin: 0 10px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        text-align: center;
        width: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
    }
}

.ajoutPanier {
    margin: 0 auto;

    button {
        color: white;
        background: red;
        margin-bottom: 10px;
    }
}
